
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<p>Order Summary:</p>

<p>Name:@ViewData["orderName"]</p>
<p>Chocolates:@ViewData["OrderChocolate"]</p>
<p>Includes Card:@ViewData["cardinculde"]</p>

<p>OrderTotal:$@ViewData["OrderTotal"]</p>